In [3]:
import pandas as pd
import numpy as np
import math

In [4]:
data = pd.read_csv('DATA.csv')
df = pd.DataFrame(data,columns=['F1','F2','F3','F4','F5'])

In [5]:
df

   F1  F2  F3  F4  F5
0   3   2   1   2   3
1   2   3   3   1   1
2   1   2   3   2   3
3   3   1   2   1   3

In [10]:
p1 = len(df)
p2 = len(df)
p3 = len(df.loc[0])
arr = []
hasil = []
for i in range(p1):
    arr1 = []
    hasil1 = []
    for j in range(p2):
        arr2 = []
        hasil2= []
        for k in range(p3):
            m = 0
            z = 0 
            l = j + 1
            if(j < p1 - 1):
                m = df.loc[i][k] - df.loc[l][k]
                if (m <= 0):
                    z = 0
                else:
                    z = 1
            else:
                m = df.loc[i][k] - df.loc[0][k]
                if (m <= 0):
                    z = 0
                else:
                    z = 1
            hasil2.append(z)
            arr2.append(m)
        arr1.append(arr2)
        hasil1.append(hasil2)
    arr.append(arr1)
    hasil.append(hasil1)

In [11]:
hasil

[[[1, 0, 0, 1, 1], [1, 0, 0, 0, 0], [0, 1, 0, 1, 0], [0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0], [1, 1, 0, 0, 0], [0, 1, 1, 0, 0], [0, 1, 1, 0, 0]],
 [[0, 0, 0, 1, 1], [0, 0, 0, 0, 0], [0, 1, 1, 1, 0], [0, 0, 1, 0, 0]],
 [[1, 0, 0, 0, 1], [1, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 1, 0, 0]]]

In [18]:
print(hasil)

[[[1, 0, 0, 1, 1], [1, 0, 0, 0, 0], [0, 1, 0, 1, 0], [0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0], [1, 1, 0, 0, 0], [0, 1, 1, 0, 0], [0, 1, 1, 0, 0]], [[0, 0, 0, 1, 1], [0, 0, 0, 0, 0], [0, 1, 1, 1, 0], [0, 0, 1, 0, 0]], [[1, 0, 0, 0, 1], [1, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 1, 0, 0]]]

In [19]:
print(arr)

[[[1, -1, -2, 1, 2], [2, 0, -2, 0, 0], [0, 1, -1, 1, 0], [0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0], [1, 1, 0, -1, -2], [-1, 2, 1, 0, -2], [-1, 1, 2, -1, -2]], [[-1, -1, 0, 1, 2], [0, 0, 0, 0, 0], [-2, 1, 1, 1, 0], [-2, 0, 2, 0, 0]], [[1, -2, -1, 0, 2], [2, -1, -1, -1, 0], [0, 0, 0, 0, 0], [0, -1, 1, -1, 0]]]

In [20]:
hasil1 = pd.DataFrame(arr)
hasil2 = pd.DataFrame(hasil)
hasil2

                 0                1                2                3
0  [1, 0, 0, 1, 1]  [1, 0, 0, 0, 0]  [0, 1, 0, 1, 0]  [0, 0, 0, 0, 0]
1  [0, 0, 0, 0, 0]  [1, 1, 0, 0, 0]  [0, 1, 1, 0, 0]  [0, 1, 1, 0, 0]
2  [0, 0, 0, 1, 1]  [0, 0, 0, 0, 0]  [0, 1, 1, 1, 0]  [0, 0, 1, 0, 0]
3  [1, 0, 0, 0, 1]  [1, 0, 0, 0, 0]  [0, 0, 0, 0, 0]  [0, 0, 1, 0, 0]

In [21]:
hasil1

,0,1,2,3
0,"[1, -1, -2, 1, 2]","[2, 0, -2, 0, 0]","[0, 1, -1, 1, 0]","[0, 0, 0, 0, 0]"
1,"[0, 0, 0, 0, 0]","[1, 1, 0, -1, -2]","[-1, 2, 1, 0, -2]","[-1, 1, 2, -1, -2]"
2,"[-1, -1, 0, 1, 2]","[0, 0, 0, 0, 0]","[-2, 1, 1, 1, 0]","[-2, 0, 2, 0, 0]"
3,"[1, -2, -1, 0, 2]","[2, -1, -1, -1, 0]","[0, 0, 0, 0, 0]","[0, -1, 1, -1, 0]"

In [22]:
akhir = []
for i in range(len(hasil)):
    akhir1 = []
    for j in range(len(hasil[i])):
        bla = sum(hasil[i][j])/len(hasil[i][j])
        akhir1.append(bla)
    akhir.append(akhir1)
akhir

[[0.6, 0.2, 0.4, 0.0],
 [0.0, 0.4, 0.4, 0.4],
 [0.4, 0.0, 0.6, 0.2],
 [0.4, 0.2, 0.0, 0.2]]

In [23]:
tmp = []
for i in range(len(akhir)):
    tmp1 = []
    for j in range(len(akhir[i])):
        tmp1.append(akhir[j][i])
    tmp.append(tmp1)
tmp

[[0.6, 0.0, 0.4, 0.4],
 [0.2, 0.4, 0.0, 0.2],
 [0.4, 0.4, 0.6, 0.0],
 [0.0, 0.4, 0.2, 0.2]]

In [24]:
def lflow():
    lf=[]
    for i in range(len(akhir)):
        jwb = 1/(len(akhir) - 1) * sum(akhir[i])
        lf.append(jwb)
#     lff=pd.DataFrame(data=lf,columns=['leafing flow'])
    return lf

def efl():
    ef = []
    for i in range(len(tmp)):
        jwb = 1/(len(tmp) - 1) * sum(tmp[i])
        ef.append(jwb)
    
#     ent=pd.DataFrame(ef,columns=['Entr Flow'])
    return ef

def nef():
    lf=lflow()
    ef=efl()
    nf = []    
    for i in range(len(ef)):
        j = i + 1
        if (i < len(ef) - 1):
            jwb = lf[i] - ef[i+1]
        else:
            jwb = lf[i] - ef[0]
        nf.append(jwb)
        nflow=pd.DataFrame(data=nf,columns=['net flow'])
    return nflow
entrflow= pd.DataFrame(data=efl(),columns=['Entry Flow'])    
leafingflow= pd.DataFrame(data=lflow(),columns=['leafing flow'])

In [25]:
rangking=pd.concat([entrflow,leafingflow,nef()],axis=1)
rangking

   Entry Flow  leafing flow  net flow
0    0.466667      0.400000  0.133333
1    0.266667      0.400000 -0.066667
2    0.466667      0.400000  0.133333
3    0.266667      0.266667 -0.200000