In [170]:
import os,django
import pandas as pd
from orm.models import Pekerja,Pko, Disiplin, Kesehatan, Petadua, Psikotes
import math

In [171]:
# Memanggil seluruh data ORM
pj = Pekerja.objects.all()
# pk = Pko.objects.all()
# dp = Disiplin.objects.all()
# ks = Kesehatan.objects.all()
# pt2 = Petadua.objects.all()
# psk = Psikotes.objects.all()

In [204]:
def ListNilaiPko(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Pkos.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiDisiplin(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Disiplins.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiKesehatan(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Kesehatans.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiPsikotes(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Psikotess.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiPetadua(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Petaduas.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]

df = pd.concat([ListNilaiPko(pj),ListNilaiDisiplin(pj),ListNilaiKesehatan(pj),ListNilaiPsikotes(pj),ListNilaiPetadua(pj)], axis=1)
df.columns=['Pko','Disiplin','Kesehatan','Psikotes','pt2']

In [205]:
def prefhasil():
    p1 = len(df)
    p2 = len(df)
    p3 = len(df.loc[0])
    arr = []
    hasil = []
    for i in range(p1):
        arr1 = []
        hasil1 = []
        for j in range(p2):
            arr2 = []
            hasil2= []
            for k in range(p3):
                z = df.loc[i][k]-df.loc[j][k]
                m = 0
                if (z <= 0):
                    m = 0
                else:
                    m = 1
                hasil2.append(z)
                arr2.append(m)
            arr1.append(arr2)
            hasil1.append(hasil2)
        arr.append(arr1)
        hasil.append(hasil1)
        return hasil
    
def prefarr():
    p1 = len(df)
    p2 = len(df)
    p3 = len(df.loc[0])
    arr = []
    hasil = []
    for i in range(p1):
        arr1 = []
        hasil1 = []
        for j in range(p2):
            arr2 = []
            hasil2= []
            for k in range(p3):
                z = df.loc[i][k]-df.loc[j][k]
                m = 0
                if (z <= 0):
                    m = 0
                else:
                    m = 1
                hasil2.append(z)
                arr2.append(m)
            arr1.append(arr2)
            hasil1.append(hasil2)
        arr.append(arr1)
        hasil.append(hasil1)
        return arr

In [206]:
hasil1 = pd.DataFrame(arr)
hasil2 = pd.DataFrame(hasil)

In [209]:
prefarr()

[[[0, 0, 0, 0, 0], [1, 0, 0, 1, 1]]]

In [188]:
hasil2

                    0                  1
0     [0, 0, 0, 0, 0]  [1, -1, -2, 2, 1]
1  [-1, 1, 2, -2, -1]    [0, 0, 0, 0, 0]

In [211]:

akhir = []
for i in range(len(hasil)):
    akhir1 = []
    for j in range(len(arr[i])):
        bla = sum(arr[i][j])/len(arr[i][j])
        akhir1.append(bla)
    akhir.append(akhir1)

[[0.0, 0.6], [0.4, 0.0]]

In [219]:
def indexpref():
    tmp = []
    for i in range(len(akhir)):
        tmp1 = []
        for j in range(len(akhir[i])):
            tmp1.append(akhir[j][i])
        tmp.append(tmp1)
    return tmp

In [192]:
def lflow():
    lf=[]
    for i in range(len(akhir)):
        jwb = 1/(len(akhir) - 1) * sum(akhir[i])
        lf.append(jwb)
#     lff=pd.DataFrame(data=lf,columns=['leafing flow'])
    return lf

def efl():
    ef = []
    for i in range(len(tmp)):
        jwb = 1/(len(tmp) - 1) * sum(tmp[i])
        ef.append(jwb)
    
    
#     ent=pd.DataFrame(ef,columns=['Entr Flow'])
    return ef

def nef():
    lf=lflow()
    ef=efl()
    nf = []    
    for i in range(len(ef)):
        jwb = lf[i]-ef[i]
        nf.append(jwb)
#         j = i + 1
#         if (i < len(ef) - 1):
#             jwb = lf[i] - ef[i+1]
#         else:
#             jwb = lf[i] - ef[0]
#         nf.append(jwb)
        nflow=pd.DataFrame(data=nf,columns=['net flow'])
    return nflow
entrflow= pd.DataFrame(data=efl(),columns=['Entry Flow'])    
leavingflow= pd.DataFrame(data=lflow(),columns=['leaving flow'])

In [193]:
nef()

   net flow
0       0.2
1      -0.2

In [194]:
rangking=pd.concat([entrflow,leavingflow,nef()],axis=1)
rangking

   Entry Flow  leaving flow  net flow
0         0.4           0.6       0.2
1         0.6           0.4      -0.2

In [195]:
arr

[[[0, 0, 0, 0, 0], [1, 0, 0, 1, 1]], [[0, 1, 1, 0, 0], [0, 0, 0, 0, 0]]]

In [196]:
# Nilai Preferensi F1 (PKO) 
kriteria1 = []
for i in range(len(arr)):
    kriteria11 = []
    for j in range(len(arr[i])):
        kriteria11.append(arr[i][j][0])
    kriteria1.append(kriteria11)
    
# Nilai Preferensi F2 (Disiplin)
kriteria2 = []
for i in range(len(arr)):
    kriteria22 = []
    for j in range(len(arr[i])):
        kriteria22.append(arr[i][j][1])
    kriteria2.append(kriteria22)
    
# Nilai Preferensi F3 (Kesehatan) 
kriteria3 = []
for i in range(len(arr)):
    kriteria33 = []
    for j in range(len(arr[i])):
        kriteria33.append(arr[i][j][2])
    kriteria3.append(kriteria33)
    
# Nilai Preferensi F4 (Psikotes) 
kriteria4 = []
for i in range(len(arr)):
    kriteria44 = []
    for j in range(len(arr[i])):
        kriteria44.append(arr[i][j][3])
    kriteria4.append(kriteria44)
    
# Nilai Preferensi F5 (Peta Dua) 
kriteria5 = []
for i in range(len(arr)):
    kriteria55 = []
    for j in range(len(arr[i])):
        kriteria55.append(arr[i][j][4])
    kriteria5.append(kriteria55)

In [203]:
# np_pko = pd.DataFrame(data=kriteria1, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_disiplin = pd.DataFrame(data=kriteria2, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_kesehatan = pd.DataFrame(data=kriteria3, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_psikotes = pd.DataFrame(data=kriteria4, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_petadua = pd.DataFrame(data=kriteria5, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
pko = pd.DataFrame(data=kriteria1)

   0  1
0  0  1
1  0  0

In [202]:
np_disiplin

NameError: name 'np_disiplin' is not defined