In [2]:
import os,django
import pandas as pd
from orm.models import Pekerja,Pko, Disiplin, Kesehatan, Petadua, Psikotes
import math

In [4]:
df

NameError: name 'df' is not defined

In [5]:
# Memanggil seluruh data ORM
pj = Pekerja.objects.all()
# pk = Pko.objects.all()
# dp = Disiplin.objects.all()
# ks = Kesehatan.objects.all()
# pt2 = Petadua.objects.all()
# psk = Psikotes.objects.all()

In [6]:
def ListNilaiPekerja(pj):
    if len(pj)>0:
        cols = ['nama']
        
        kel ={
            
            cols[0] : [str(a.nama) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
    
def ListNilaiPko(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Pkos.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiDisiplin(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Disiplins.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiKesehatan(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Kesehatans.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiPsikotes(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Psikotess.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
def ListNilaiPetadua(pj):
    if len(pj)>0:
        cols = ['nilai']
        
        kel ={
            
            cols[0] : [int(a.Petaduas.nilai) for a in pj],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]

df = pd.concat([ListNilaiPko(pj),ListNilaiDisiplin(pj),ListNilaiKesehatan(pj),ListNilaiPsikotes(pj),ListNilaiPetadua(pj)], axis=1)
df.columns=['Pko','Disiplin','Kesehatan','Psikotes','Peta Dua ']

In [7]:
df

   Pko  Disiplin  Kesehatan  Psikotes  Peta Dua
0    4         3          2         4          4
1    3         4          4         2          3
2    4         4          4         4          4
3    4         3          4         4          4
4    3         4          4         4          4

In [8]:
def prefhasil():
    p1 = len(df)
    p2 = len(df)
    p3 = len(df.loc[0])
    arr = []
    hasil = []
    for i in range(p1):
        arr1 = []
        hasil1 = []
        for j in range(p2):
            arr2 = []
            hasil2= []
            for k in range(p3):
                z = df.loc[i][k]-df.loc[j][k]
                m = 0
                if (z <= 0):
                    m = 0
                else:
                    m = 1
                hasil2.append(z)
                arr2.append(m)
            arr1.append(arr2)
            hasil1.append(hasil2)
        arr.append(arr1)
        hasil.append(hasil1)
        dfhsl= pd.DataFrame(hasil)
    return dfhsl
    
def prefarr():
    p1 = len(df)
    p2 = len(df)
    p3 = len(df.loc[0])
    arr = []
    hasil = []
    for i in range(p1):
        arr1 = []
        hasil1 = []
        for j in range(p2):
            arr2 = []
            hasil2= []
            for k in range(p3):
                z = df.loc[i][k]-df.loc[j][k]
                m = 0
                if (z <= 0):
                    m = 0
                else:
                    m = 1
                hasil2.append(z)
                arr2.append(m)
            arr1.append(arr2)
            hasil1.append(hasil2)
        arr.append(arr1)
        hasil.append(hasil1)
    return arr
prefarr()

[[[0, 0, 0, 0, 0],
  [1, 0, 0, 1, 1],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [1, 0, 0, 0, 0]],
 [[0, 1, 1, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 1, 0, 0, 0],
  [0, 0, 0, 0, 0]],
 [[0, 1, 1, 0, 0],
  [1, 0, 0, 1, 1],
  [0, 0, 0, 0, 0],
  [0, 1, 0, 0, 0],
  [1, 0, 0, 0, 0]],
 [[0, 0, 1, 0, 0],
  [1, 0, 0, 1, 1],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [1, 0, 0, 0, 0]],
 [[0, 1, 1, 0, 0],
  [0, 0, 0, 1, 1],
  [0, 0, 0, 0, 0],
  [0, 1, 0, 0, 0],
  [0, 0, 0, 0, 0]]]

In [9]:
prefhasil()

,0,1,2,3,4
0,"[0, 0, 0, 0, 0]","[1, -1, -2, 2, 1]","[0, -1, -2, 0, 0]","[0, 0, -2, 0, 0]","[1, -1, -2, 0, 0]"
1,"[-1, 1, 2, -2, -1]","[0, 0, 0, 0, 0]","[-1, 0, 0, -2, -1]","[-1, 1, 0, -2, -1]","[0, 0, 0, -2, -1]"
2,"[0, 1, 2, 0, 0]","[1, 0, 0, 2, 1]","[0, 0, 0, 0, 0]","[0, 1, 0, 0, 0]","[1, 0, 0, 0, 0]"
3,"[0, 0, 2, 0, 0]","[1, -1, 0, 2, 1]","[0, -1, 0, 0, 0]","[0, 0, 0, 0, 0]","[1, -1, 0, 0, 0]"
4,"[-1, 1, 2, 0, 0]","[0, 0, 0, 2, 1]","[-1, 0, 0, 0, 0]","[-1, 1, 0, 0, 0]","[0, 0, 0, 0, 0]"

In [10]:
def akhirn():
    hasil = prefhasil()
    arr = prefarr()
    akhir = []
    for i in range(len(hasil)):
        akhir1 = []
        for j in range(len(arr[i])):
            bla = sum(arr[i][j])/len(arr[i][j])
            akhir1.append(bla)
        akhir.append(akhir1)
    return akhir
akhirn()

[[0.0, 0.6, 0.0, 0.0, 0.2],
 [0.4, 0.0, 0.0, 0.2, 0.0],
 [0.4, 0.6, 0.0, 0.2, 0.2],
 [0.2, 0.6, 0.0, 0.0, 0.2],
 [0.4, 0.4, 0.0, 0.2, 0.0]]

In [37]:
def indexpref():
    akhir = akhirn()
    tmp = []
    for i in range(len(akhir)):
        tmp1 = []
        for j in range(len(akhir[i])):
            tmp1.append(akhir[j][i])
        tmp.append(tmp1)
    return tmp
indexpref()
# akhirn()
indexpref()

[[0.0, 0.4, 0.4, 0.2, 0.4],
 [0.6, 0.0, 0.6, 0.6, 0.4],
 [0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.2, 0.2, 0.0, 0.2],
 [0.2, 0.0, 0.2, 0.2, 0.0]]

In [38]:
def lflow():
    lf=[]
    akhir = akhirn()
    for i in range(len(akhir)):
        jwb = 1/(len(akhir) - 1) * sum(akhir[i])
        lf.append(jwb)
    return lf

def efl():
    tmp = indexpref()
    ef = []
    for i in range(len(tmp)):
        jwb = 1/(len(tmp) - 1) * sum(tmp[i])
        ef.append(jwb)
    return ef

def nef():
    lf=lflow()
    ef=efl()
    nf = []    
    for i in range(len(ef)):
        jwb = lf[i]-ef[i]
        nf.append(jwb)
        nflow=pd.DataFrame(data=nf,columns=['net flow'])
    return nflow
entrflow= pd.DataFrame(data=efl(),columns=['Entry Flow'])    
leavingflow= pd.DataFrame(data=lflow(),columns=['leaving flow'])

In [39]:
nef()

   net flow
0     -0.15
1     -0.40
2      0.35
3      0.10
4      0.10

In [40]:
rangking=pd.concat([entrflow,leavingflow,nef()],axis=1)
rangking

   Entry Flow  leaving flow  net flow
0        0.35          0.20     -0.15
1        0.55          0.15     -0.40
2        0.00          0.35      0.35
3        0.15          0.25      0.10
4        0.15          0.25      0.10

In [41]:
# Nilai Preferensi F1 (PKO)
def krtpko():
    kriteria1 = []
    arr = prefarr()
    for i in range(len(arr)):
        kriteria11 = []
        for j in range(len(arr[i])):
            kriteria11.append(arr[i][j][0])
        kriteria1.append(kriteria11)
    krpko = pd.DataFrame(kriteria1)
    return krpko

                
# Nilai Preferensi F2 (Disiplin)
def krtdsp():
    kriteria2 = [] 
    arr = prefarr()
    for i in range(len(arr)):
        kriteria22 = []
        for j in range(len(arr[i])):
            kriteria22.append(arr[i][j][1])
        kriteria2.append(kriteria22)
        
    return kriteria2
    
# Nilai Preferensi F3 (Kesehatan) 
def krtkes():
    kriteria3 = []
    arr = prefarr()
    for i in range(len(arr)):
        kriteria33 = []
        for j in range(len(arr[i])):
            kriteria33.append(arr[i][j][2])
        kriteria3.append(kriteria33)
    return kriteria3

# Nilai Preferensi F4 (Psikotes) 
def krtpsk():
    kriteria4 = []
    arr = prefarr()
    for i in range(len(arr)):
        kriteria44 = []
        for j in range(len(arr[i])):
            kriteria44.append(arr[i][j][3])
        kriteria4.append(kriteria44)
    return kriteria4
      
# Nilai Preferensi F5 (Peta Dua) 
def krtpt2():
    kriteria5 = []
    arr = prefarr()
    for i in range(len(arr)):
        kriteria55 = []
        for j in range(len(arr[i])):
            kriteria55.append(arr[i][j][4])
        kriteria5.append(kriteria55)
    return kriteria5
krtpko()

   0  1  2  3  4
0  0  1  0  0  1
1  0  0  0  0  0
2  0  1  0  0  1
3  0  1  0  0  1
4  0  0  0  0  0

In [42]:
# np_pko = pd.DataFrame(data=kriteria1, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_disiplin = pd.DataFrame(data=kriteria2, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_kesehatan = pd.DataFrame(data=kriteria3, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_psikotes = pd.DataFrame(data=kriteria4, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])
# np_petadua = pd.DataFrame(data=kriteria5, columns = ['A','B','C','D'], index = ['A', 'B', 'C', 'D'])

In [43]:
np_disiplin

NameError: name 'np_disiplin' is not defined